.about-me-section {
    padding: 50px 0;
  }
  
  .about-me-inner {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: var(--border-radius);
  }
  
  .about-me-heading {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .about-me-heading h2 {
    margin: 0;
    position: relative;
    font-size: var(--fz-heading);
    color: var(--dark-slate);
    font-weight: 450;
  }
  
  .about-me-heading h2::after {
    content: '';
    display: block;
    width: 140px;
    height: 2px;
    background: var(--dark-slate);
    margin-top: 5px;
  }
  
  .about-me-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }
  
  .about-me-text {
    flex: 1;
    margin-right: 20px;
    color: var(--dark-slate);
    text-align: left;
  }
  
  .about-me-text p {
    margin: 10px 0;
    font-size: var(--fz-md);
    color: var(--dark-slate);
    line-height: 1.6;
    text-align: left;
  }
  
  .about-me-text a {
    color: var(--tan);
    text-decoration: none;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    text-align: left;
  }
  
  .about-me-text a:hover {
    color: var(--dark-green);
  }
  
  .skills-list {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
  }
  
  .skills-list li {
    background: #ececec;
    color: var(--dark-slate);
    margin: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: var(--fz-sm);
    white-space: nowrap;
  }
  
  .about-me-img-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    min-width: 300px;
  }
  
  .about-me-img {
    width: 300px;
    height: 300px;
    background: url('../../images/profile-pic.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .skills-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .skills-list li {
      width: auto;
    }
  
    .about-me-content {
      flex-direction: column;
      align-items: center;
    }
  
    .about-me-text {
      margin-right: 0;
      margin-top: 20px;
    }
  
    .about-me-img-container {
      justify-content: center;
      margin-top: 20px;
      min-width: 300px;
    }
  }
  
  .highlight {
    color: var(--tan);
  }
  